.verification-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px; /* Adjust the size as per your preference */
    height: 200px; /* Adjust the size as per your preference */
    border-radius: 50%;
    background-color: #14aa14; /* Green color for verification success */
    color: #FFFFFF; /* White text color */
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
    /* Additional styles like gradients or light effects can be added here */
  }
  
  .verification-badge-text {
    display: block;
    /* Additional styles for text, if needed */
  }
  